{% extends 'base.html' %}

{% block content %}
  <h1>Consulta com {{ psicologo.nome }}</h1>

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>

  {% endif %}
  <div class="row">
    <div class="col-md-6">
      <h3>Agendar consulta</h3>
      <form method="post" action="{% url 'agendar_consulta' psicologo.id %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="data_hora">Data e hora:</label>
          <input type="datetime-local" class="form-control" id="data_hora" name="data_hora">
        </div>

        <div class="form-group">
          <label for="mensagem">Mensagem:</label>
          <textarea class="form-control" id="mensagem" name="mensagem" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Agendar</button>
      </form>

    </div>
    <div class="col-md-6">
      <h3>Agenda de consultas</h3>
      {% if consultas %}
        <ul>
          {% for consulta in consultas %}
            <li>{{ consulta.data_hora }} - {{ consulta.usuario }} - {{ consulta.mensagem }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <p>Não há consultas agendadas.</p>
      {% endif %}
    </div>
  </div>

  
{% endblock %}
