{% extends 'base.html' %}

{% block content %}
  <h1>Criar novo administrador</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Criar</button>
  </form>

  <h1>Atualizar informações do administrador</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Salvar</button>
  </form>


  <h1>Excluir Administrador</h1>
  <p>Tem certeza que deseja excluir o administrador "{{ admin }}"?</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit">Confirmar</button>
    <a href="{% url 'administrador:administrador_list' %}">Cancelar</a>
  </form>

  
{% endblock %}
